header {
  position: relative;
  top: 2rem;
  transition: all 200ms ease;

  & .header-in {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 1rem;
    width: 85%;
    margin: 0 auto;
  }
}

header .brand {
  @include box(auto, 96px);
  order: 2;

  a,
  a img {
    @include box(inherit);
  }
}

header .navbar {
  order: 1;
}

header .x-navbar {
  order: 3;
}

ul.nav-links {
  height: 100%;
  display: flex;
  flex: 1;
  justify-content: flex-start;
  place-items: center;
  @include reset-ul;

  &.--justify-right {
    flex: 0;
    justify-content: flex-end;

    li.nav-item:not(:last-child) {
      margin: 0;
    }

    li.nav-item:not(:first-child) {
      margin-left: 2rem;
    }
  }

  li.nav-item {
    &:not(:last-child) {
      margin-right: 2rem;
    }

    a {
      font-size: 1.25rem;
      font-weight: 700;
      text-transform: uppercase;

      svg {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}

// ================================
//  CSS when page is scrolled down
// ================================

body.scrolled header {
  position: fixed;
  @include pos($top: 0, $right: 0, $bottom: auto, $left: 0);
  padding: 0.5rem;
  background-color: $white;
  box-shadow: 0 0.2rem 0.35rem 0 rgba($color: $black, $alpha: 0.25);

  .brand {
    @include box(auto, 64px);
  }
}
