$padding: 2rem;
$height: 8rem;

header {
  position: absolute;
  @include pos($top: $padding, $right: 0, $bottom: auto, $left: 0);
  z-index: 99;
  height: $height;
  margin-bottom: $padding;
  transition: all 200ms ease;

  .header-in {
    position: relative;
    display: grid;
    height: inherit;
    grid-template-columns: 1fr auto 1fr;
    gap: $padding;
    margin: 0 auto;
  }
}

header .brand {
  @include box(auto, inherit);
  order: 2;

  a,
  a img {
    @include box(auto, inherit);
  }
}

header .navbar {
  order: 1;
}

header .x-navbar {
  order: 3;
}

ul.nav-links {
  height: 100%;
  display: flex;
  flex: 1;
  justify-content: flex-start;
  place-items: center;
  @include reset-ul;

  &.--justify-right {
    flex: 0;
    justify-content: flex-end;

    li.nav-item:not(:last-child) {
      margin: 0;
    }

    li.nav-item:not(:first-child) {
      margin-left: 2rem;
    }
  }

  li.nav-item {
    position: relative;

    // Temporary
    // ================
    &::before {
      content: "";
      position: absolute;
      @include pos(0);
      display: block;
      background-color: rgba($color: $black, $alpha: 0.5);
      z-index: -1;
    } // ================

    &:not(:last-child) {
      margin-right: 2rem;
    }

    a {
      color: $white;
      font-size: 1.35rem;
      letter-spacing: 0.5px;
      text-transform: uppercase;

      svg {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}

// ================================
//  CSS when page is scrolled down
// ================================

body.scrolled header {
  position: fixed;
  height: $height / 1.5;
  background-color: $white;
  z-index: 9999;

  .header-in {
    @include responsive-max-width;
    height: inherit;
    // Properly add padding or a margin somewhere in here
  }
}
