article.hero-wrapper {
  min-height: 100vh;
  background: url("~/assets/images/gamestop.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(50%);
}
