@import "./abstracts/variables";
@import "./abstracts/mixins";

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh;
  margin: 0;
}

#root {
  display: grid;
  place-content: center;
  width: inherit;
  height: inherit;
  background-color: $color-background;
}

img {
  width: 25vw;
  height: auto;

  @include media("md") {
    width: 50vw;
  }
}
