@mixin media-breakpoint-up($key: "xs") {
  @if map-has-key($map: $breakpoints, $key: $key) {
    @media (min-width: map-get($map: $breakpoints, $key: $key)) {
      @content;
    }
  } @else {
    @error "No value for '#{$key}' exists. Available breakpoints are: #{map-keys($map: $breakpoints)}";
  }
}

@mixin responsive-max-width {
  max-width: 100%;

  @include media-breakpoint-up("sm") {
    max-width: 540px;
  }

  @include media-breakpoint-up("md") {
    max-width: 720px;
  }

  @include media-breakpoint-up("lg") {
    max-width: 960px;
  }

  @include media-breakpoint-up("xl") {
    max-width: 1140px;
  }

  @include media-breakpoint-up("xxl") {
    max-width: 1320px;
  }
}

@mixin pos($top: auto, $right: $top, $bottom: $top, $left: $right) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin border-radius($r: 0) {
  border-radius: $r;
  background-clip: padding-box;
}

@mixin box($w: auto, $h: $w) {
  width: $w;
  height: $h;
}

@mixin min-max-height($h: auto) {
  min-height: $h;
  max-height: $h;
}

@mixin margin-top-bottom($top: auto, $bottom: $top) {
  margin-top: $top;
  margin-bottom: $bottom;
}

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin center {
  display: grid;
  place-content: center;
}

@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin reset-ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
