*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  @include box(100%);
}

html {
  font-size: 75%;
}

body {
  margin: 0;
  background-color: $white;
  font-family: $sans-serif;
  font-size: 100%;
  color: $text;
}
